<!-- main app container -->
<div class="contactus-page">
  <div class="form">

        <!-- HEADING  -->
        <p class="title pull-left">Contact Us</p>
        <span class="title pull-right">
          <img
            src="https://github.com/Dare2Code/Rebel-Contact-Us/blob/master/contactUsApp/src/img/logo.png?raw=true"
            alt="logo"
            height="35px">
        </span>

    <!-- disabling form in case of error -->
    <div *ngIf="isDataPosted === 'na' " class="contactus-form">
        <!-- FORM BEGIN -->
        <form [formGroup]="contactUsForm" (ngSubmit)="onSubmit()">

          <!-- NAME CONTAINER -->
          <div class="form-group">
            <input type="text" formControlName="name" placeholder="Your Name" class="input" [ngClass]="{ 'is-invalid': submitted && form.name.errors }" />
            <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
              <div *ngIf="form.name.errors.required">* Name is required</div>
            </div>
          </div>

          <!-- EMAIL CONTAINER -->
          <div class="form-group">
            <input type="text" placeholder="Your Email" formControlName="email" class="input" [ngClass]="{ 'is-invalid': submitted && form.email.errors }" />
            <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
              <div *ngIf="form.email.errors.required">* Email is required</div>
              <div *ngIf="form.email.errors.email">* Email must be a valid one</div>
            </div>
          </div>

          <!-- MESSAGE CONTAINER -->
          <div class="form-group">
            <textarea formControlName="message" placeholder="Message you wish to send us" class="message" [ngClass]="{ 'is-invalid': submitted && form.message.errors }" ></textarea>
            <div *ngIf="submitted && form.message.errors" class="invalid-feedback">
              <div *ngIf="form.message.errors.required">* Message is required</div>
            </div>
          </div>

          <!-- Submit -->
          <div class="form-group">
            <button class="button">Submit</button>
          </div>

        </form>
        <!-- FORM ENDED -->
      </div>
    <!-- "Error message" Only displays in case of any error from connection -->
    <div *ngIf="isDataPosted === 'false'" class="alert alert-danger" role="alert">
      <br><br><br><br><p><strong>Oh snap!</strong> Something went wrong, please try again later or call our customer service.</p>
      <hr>
      <p class="mb-0">We thrive very hard to provide an awesome service and will continue to do so.</p>
      <div class="row">
        <div class="col-xs-6 col-centered">
          <br><br>
          <button class="btn btn-warning" (click)="isDataPosted = 'na'; contactUsForm.reset()">
          <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
            <strong> Go Back</strong>
        </button>
        </div>
      </div>
    </div>

    <div *ngIf="isDataPosted === 'true'" class="alert alert-success" role="alert">
      <br><br><br><br><p> your message was sent successfully.</p>
      <hr>
      <p class="mb-0">We thrive very hard to provide an awesome service and will continue to do so.</p>
      <div class="row">
        <div class="col-xs-6 col-centered">
          <br><br>
          <button class="btn btn-warning" (click)="isDataPosted = 'na'; contactUsForm.reset()">
          <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
            <strong> Go Back</strong>
        </button>
        </div>
      </div>
    </div>

  </div>

</div>


<!-- Footnote if any -->
