<div class="contactus-page">
  <div class="form">
    <p class="title pull-left">Contact Us</p>
    <span class="title pull-right">
      <img
        src="https://github.com/Dare2Code/Rebel-Contact-Us/blob/master/contact-us-app/src/app/img/logo.png?raw=true"
        alt="logo"
        height="40px">
    </span>
    <div class="contactus-form">
      <input
        [(ngModel)]="name"
        type="text"
        class="input"
        placeholder="Name"
      >
      <div [hidden]="nameIsValid" class="alert alert-danger">
        {{nameMessage}}
      </div>
      <input
        [(ngModel)]="email"
        type="text"
        class="input"
        placeholder="Email"
      >
      <div [hidden]="emailIsValid" class="alert alert-danger">
        {{emailMessage}}
      </div>
      <textarea
        [(ngModel)]="message"
        class="message"
        cols="50"
        rows="10"
        placeholder="Message"
      ></textarea>
      <button (click)="onSubmit()">Submit</button>

    </div>
  </div>
</div>

<h2>Order Sheet</h2>
<form novalidate *ngIf="formActive" [formGroup]="contactUsForm" (ngSubmit)="onSubmitForm()">


  <section class="customer-name">
    <input class="input" type="text" placeholder="Your Name" formControlName="customerName" >
    <div class="errors" *ngIf="customerName.errors">
      <div *ngIf="customerName.errors.required && (customerName.touched || customerName.dirty)">We need your name!</div>
      <div *ngIf="customerName.errors.minlength">Must be at least {{customerName.errors.minlength.requiredLength}} letters</div>
    </div>
  </section>

  <section class="customer-email">
    <input class="input" type="text" placeholder="Your Email" formControlName="customerEmail">
    <div class="errors" *ngIf="customerEmail.errors">
      <div *ngIf="customerEmail.errors.required && (customerEmail.touched || customerEmail.dirty)">We need your Email!</div>
      <div *ngIf="customerEmail.errors.minlength">Must be at least {{customerEmail.errors.minlength.requiredLength}} letters</div>
    </div>
  </section>


  <section>
    <h1>Message</h1>
    <textarea ngControl="otherNotes"></textarea>
  </section>
  <button type="submit">Submit</button>
  <button type="button" (click)="onClearForm()">Reset</button>
</form>

<!--<debug-panel [data]="contactUsForm.value"></debug-panel>-->
