<div class="contactus-page">
  <div class="form">
    <p class="title pull-left">Contact Us</p>
    <span class="title pull-right">
      <img
        src="https://github.com/Dare2Code/Rebel-Contact-Us/blob/master/contact-us-app/src/app/img/logo.png?raw=true"
        alt="logo"
        height="40px">
    </span>
    <form class="contactus-form">
      <input type="text" class="input" placeholder="Name"/>
      <input type="text" class="input" placeholder="Email"/>
      <input type="text" class="message" placeholder="Message"/>
      <button>Submit</button>
    </form>
  </div>
</div>
